<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a Book</h1>
    <form action='/books' method='post'>
        {% csrf_token %}
        Title: <input type='text' name='title'>
        Description: <textarea name="description" cols="20" rows="3"></textarea>
        <button type='submit'>Add</button>
    </form>
    <hr>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
        {% for names in all_the_book_names %}
        <tr>
            <td>{{ names.id }}</td>
            <td>{{ names.title }}</td>
            <td><a href="books/{{names.id}}">View</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>