<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (One)</title>
</head>
<body>
    <h1>TV Show {{ one_show.id }}</h1>
    <p>Title: {{ one_show.title }}</p>
    <p>Network: {{ one_show.network }}</p>
    <p>Release Date: {{ one_show.release_date }}</p>
    <p>Description: {{ one_show.description }}</p>
    <br>
    <br>
    <br>
    <br>
</body>
</html>