p{
    border: 1px solid black;
    text-align: center;
    margin: 1% 42%;
    padding-bottom: 1%;
}
.time{
    font-size: xx-large;
    margin: 0 32%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}